.modal-content {
  background: linear-gradient(white, rgb(231, 245, 255));
  * {
    outline: none;
    border: none;
    box-shadow: none;
  }
  button:focus {
    outline: none;
  }
  border: none;
  border-radius: 0em;
  color: black;
  font-family: "13px Inter";
  font-size: 0.8em;
  text-align: left;
  // border: 0.1em solid rgba(0, 217, 255, 0.384);
  .model-header {
    border-bottom: 0.1em solid navy;
  }
}