#header {
  background: #fff;
  z-index: 1039;
  position: fixed;
  width: 100%;
  top: 0;
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-0.4em);
  transition: 300ms ease all;
  background: #ffffff;

  a:hover,
  a:focus,
  button:hover,
  button:focus,
  button:active {
    color: white;
    background-color: #d3e3fc;
    border: none;
    outline: none;
  }

  &.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: 300ms ease all;
  }
}
